<style>
    @import url("https://cdn.jsdelivr.net/gh/harry-0116/font@main/fetch.css");

@font-face {
    font-family: 'KoreanHHM';
    src: url('fontkr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



